<section class="container">
  
    <h1 class="card-title-main-app">Facilite a sua vida com o autoatendimento Decolabank</h1>
 
        <div class="row row-cols-1 row-cols-md-5 g-4">
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/saque.png" [width] ="194" [height] ="100" class="card-img-top" alt="fatura">
              <div class="card-body">
                <h5 class="card-title">Saque</h5>
              <!--  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/boleto.png" [width] ="300" [height] ="100" class="card-img-top" alt="boleto">
              <div class="card-body">
                <h5 class="card-title">Boleto</h5>
               <!-- <p class="card-text">This is a short card.</p>-->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/extrato.png" [width] ="194" [height] ="100" class="card-img-top" alt="extrato">
              <div class="card-body">
                <h5 class="card-title">Consulta de Extrato</h5>
               <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/deposito.png" [width] ="194" [height] ="100" class="card-img-top" alt="deposito">
              <div class="card-body">
                <h5 class="card-title">Depósito</h5>
               <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img ngSrc="assets/transferencia.png" [width] ="194" [height] ="100"  class="card-img-top" alt="transferencia">
              <div class="card-body">
                <h5 class="card-title">Transferência</h5>
               <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
              </div>
            </div>
          </div>
        </div>
    </section>
