<section class="card-login-container">
  <div class="card-login">
    <div class="card-login-titulo">
      <header class="title">
        <h1 class="deposito-title">Depósito</h1>
        <h2 class="deposito-sub-title">Saldo: R$ {{ conta.saldo }}</h2>
      </header>
    </div>
    <form #loginForm="ngForm">
      <!-- Campo Agência -->
      <div class="value0">
        <input
          type="number"
          class="input0"
          placeholder="Agência"
          name="agencia"
          [(ngModel)]="agencia"
          maxlength="4"
          required
        />
      </div>

      <!-- Campo Valor -->
      <div class="value2">
        <input
          type="number"
          class="input2"
          placeholder="Valor"
          name="valor"
          [(ngModel)]="valor"
          required
        />
      </div>

      <!-- Exibição de Mensagens de Erro -->
     

      <!-- Botão -->
      <div class="button-container">
        <button id="btn-02" type="button" (click)="verificarSaldo()">Confirmar</button>
      </div>
      <div *ngIf="mensagemErro" class="erro-mensagem">
        <small>{{ mensagemErro }}</small>
      </div>

      <div *ngIf="mensagemSucesso" class="erro-mensagem">
        <small>{{ mensagemSucesso }}</small>
      </div>
    </form>
  </div>
</section>