
<section class="card-login-container">
    <div class="card-login">
        <div class="card-login-texto">
            <h1>Acessar sua conta</h1>
        </div>
        
        <div class="value">
            <textarea class="input" placeholder="Agência"></textarea>
           
        </div>
        <div class="value">
            <textarea class="input" placeholder="Conta"></textarea>
           
        </div>
        <div class="value">
            <input type="password" class="input" placeholder="Senha">
            
        </div>
    </div>
    

</section>