.card-title-main-app{
    text-align: left;
    font-size: 40px;
    color: #FB8207;
    margin-top: 80px;
  
  }
  

.card.no-border {
    border: none;
    box-shadow: none;
}

/* Animação de destaque nos cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
    z-index: 1; /* Traz o card para frente */
    position: relative; /* Garante que o z-index funcione */
}   