<section>
    <div class="container mt-4">
      <h1 class="card-title-main-app">Novidades para você</h1>
 
        <div class="row">
          <!-- Coluna esquerda com duas imagens empilhadas -->
          <div class="col-md-6 d-flex flex-column">
            <!-- Imagem 01 -->
            <div class="card text-white border-0">
              <img ngSrc="assets/imagem01.png" [width]="500" [height]="374" class="card-img" alt="Imagem 1">
              <div class="card-img-overlay">
                <h5 class="card-title"></h5>
              </div>
            </div>
            <!-- Imagem 02 -->
            <div class="card text-white border-0">
              <img ngSrc="assets/imagem02.png" [width]="559" [height]="371" class="card-img" alt="Imagem 2">
              <div class="card-img-overlay">
                <h5 class="card-title"></h5>
              </div>
            </div>
          </div>
          <!-- Coluna direita com imagem vertical -->
          <div class="col-md-6">
            <div class="card text-white border-0">
            <div id="imagem-03" >
              <img ngSrc="assets/imagem03.png" [width]="531" [height]="765" class="card-img" alt="Imagem 3">
              <div class="card-img-overlay">
                <h5 class="card-title"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
          
  
</section>