<section class="card-saque-container">
  
  <form class="card-saque">
    <header class="title">
      <h1 class="saque-title">Saque</h1>
      <h2 class="saque-sub-title">Saldo: {{ saldo | currency:'BRL' }}</h2>
    </header>

    <div class="value0">
      <input type="number" class="input0" placeholder="Digite o valor" [(ngModel)]="valor" name="valor" required min="1">
    </div>

    <div class="button-container">
      <button id="btn-02" type="button" (click)="verificarSaldo()" [disabled]="valor <= 0">Confirmar</button>
    </div>

    <div *ngIf="mensagemErro" class="error-message">
      {{ mensagemErro }}
    </div>

    <div *ngIf="mensagemSucesso" class="success-message">
      {{ mensagemSucesso }}
    </div>
  </form>
</section>
