<section class="container">
    <div class="titulo-inicial">
        <h1>Aqui tem ainda mais facilidade</h1>
    </div>
    
    <div class="img-fluid">
        <img ngSrc="assets/banner2.png" [width]="1310" [height]="688"  alt="banner">
            
        <div>
            <h2 class="card-img-overlay" id="texto">
                Baixe a nova versão <br>do app DecolaBank
            </h2>
        </div>
        <div class="card-img-overlay" id="app">
            <img src="assets/ios.png" alt="ios">
            <img src="assets/android.png" alt="android">
        </div>
    </div>
</section>
