<section class="container">
    <h1 class="card-title-main-app">Aqui tem ainda mais facilidade</h1>
    
    <div class="img-app">
        <img class="borda" ngSrc="assets/banner2.png" [width]="1300" [height]="688"  alt="banner">
    </div>
            
    <!-- <div>
            <h2 class="card-img-overlay" id="texto">
                Baixe a nova versão <br>do app DecolaBank
            </h2>
        </div>
        <div class="card-img-overlay" id="app">
            <img src="assets/ios.png" alt="ios">
            <img src="assets/android.png" alt="android">
    </div> -->
  
</section>
